.hero-section {
  position: relative;
  background-color: var(--highTide);
  color: var(--PEBBLE);
  min-height: 100vh;
  overflow: hidden;

  .badge {
    background-color:var(--PEBBLE);
    color: var(--highTide);
    font-weight: 600;
    font-size: 1.3rem;
  }

  h1 {
    font-size: 3.5rem;
    line-height: 1.3;
    font-weight: 800;
    .highlight {
      color: var(--YAM);
      font-weight: 600;
    }
  }

  p {
    max-width: 700px;
    margin: 0 auto;
    font-size: 1.4rem;
    word-spacing: 3px;
    font-weight: 400;
  }

  .corner {
    position: absolute;
    width: 300px;
    height: 300px;
    background-color: var(--cadetBlue);
    clip-path: polygon(0 0, 100% 0, 0 100%);
  }

  .top-left {
    top: 0;
    left: 0;
  }

  .bottom-right {
    bottom: 0;
    right: 0;
    transform: rotate(180deg);
  }
}
 .default-btn{
    font-size: 22px;
    font-weight: 700;
    border-radius: 7px;
    &::after{
        border-radius: 7px;
    }
  }
.hero-divider {
  width: 90%;
  height: 2px;
  background: linear-gradient(to right, transparent, var(--YAM), transparent);
  box-shadow: 0 0 10px rgba(180, 138, 62, 0.3);
  border-radius: 50px;
  
}
