.hero-section {
  position: relative;
  background-color: var(--highTide);
  color: var(--PEBBLE);
  height: 100vh;
  width: 100%;
  overflow: hidden;

  .badge {
    background-color:var(--PEBBLE);
    color: var(--highTide);
    font-weight: 600;
    font-size: 1.9rem;
  }

  h1 {
    font-size: 5.5rem;
    line-height: 1.3;
    font-weight: 800;
    .highlight {
      color: var(--YAM);
      font-weight: 600;
    }
  }

  p {
    max-width: 700px;
    margin: 0 auto;
    font-size: 2.1rem;
    word-spacing: 3px;
    font-weight: 400;
  }

  .corner {
    position: absolute;
    width: 350px;
    height: 350px;
    background-color: var(--highTide);
    clip-path: polygon(0 0, 100% 0, 0 100%);
  }

  .top-left {
    top: 0;
    left: 0;
  }

  .bottom-right {
    bottom: 0;
    right: 0;
    transform: rotate(180deg);
  }
   .default-btn{
    font-size: 33px;
    font-weight: 700;
    border-radius: 7px;
    &::after{
        border-radius: 7px;
    }
  }
.hero-divider {
  width: 90%;
  height: 2px;
  background: linear-gradient(to right, transparent, var(--YAM), transparent);
  box-shadow: 0 0 10px rgba(180, 138, 62, 0.3);
  border-radius: 50px;
  
}
@media only screen and (max-width: 1700px) {
    .badge{
        font-size: 1.3rem;
    }
    p{
        font-size: 22px;
    }
    h1{
        font-size: 3.5rem;
    }
    .default-btn{
        font-size: 22px;
    }
    .corner{
        width: 300px;
        height: 300px;
    }
}
@media only screen and (max-width: 1000px) {
    .badge,p{
        font-size: 1.2rem;
    }
    h1{
        font-size: 3.2rem;
    }
    .default-btn{
        font-size: 20px;
    }
    .corner{
        width: 250px;
        height: 250px;
    }
}
@media only screen and (max-width: 600px) {
    .badge,p{
        font-size: 1.1rem;
    }
    h1{
        font-size: 2.6rem;
    }
    .default-btn{
        font-size: 18px;
    }
    .corner{
        width: 200px;
        height: 200px;
    }
}
@media only screen and (max-width: 485px) {
    .badge,p{
        font-size: 1rem;
    }
    h1{
        font-size: 2.2rem;
    }
    .default-btn{
        font-size: 16px;
    }
    .corner{
        width: 150px;
        height: 150px;
    }
}
}
.services-section {
  background: transparent;
  transform: translateY(-40%);
  padding-top: 6rem;
  padding-bottom: 6rem;

  .service-card {
    background-color:var(--PEBBLE);
    border-radius: 1rem;
    
    transition: all 0.3s ease;
    height: 100%;

    &:hover {
      transform: translateY(-8px);
      
    }

    .icon-wrapper {
      background-color:var(--whiteColor);
      border-radius: 50%;
      width: 70px;
      height: 70px;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: all 0.4s ease;
      cursor: pointer;
      i {
        font-size: 1.8rem;
        color:var(--highTide);
      transition: all 0.4s ease;

      }
      &:hover{
        background-color: var(--cadetBlue);
        i{
            color: var(--YAM);
        }
      }
    }

    h5 {
      font-size: 1.25rem;
    }

    p {
      font-size: 0.95rem;
    }
  }
}


