/* You can add global styles to this file, and also import other style files */
:root{
    --YAM:#EA9216;
    --PEBBLE:#EEEEEE;
    --cadetBlue:#3A4750;
    --highTide:#313841;
    --whiteColor:white;
    --blackColor:black;
    --darkBlueColor: #0f1d22;
    --transition: .5s;
}
body {
  direction: rtl;
  font-family:Georgia, 'Times New Roman', Times, serif;
  height: 1000px;
}
img {
    max-width: 100%;
    object-fit: cover;
    height: auto;
}
ul{
  list-style: none;
}
a {
    text-decoration: none;
    transition: var(--transition);
    cursor: pointer;
}
.image-scale{
   animation: scaleAnimation 8s infinite ease-in-out;
}
@keyframes scaleAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2); 
  }
  100% {
    transform: scale(1);
  }
}
// Default Btn
.default-btn {
    z-index: 1;
    border: none;
    overflow: hidden;
    padding: 12px 35px;
    position: relative;
    letter-spacing: 1.5px;
    display: inline-block;
    color: var(--PEBBLE);
    text-transform: uppercase;
    background-color: transparent;
    font: {
        size: 16px;
        weight: 300;
    };
    &::before {
        top: 0;
        left: 0;
        width: 100%;
        z-index: -1;
        content: '';
        height: 100%;
        position: absolute;
        transform: scaleX(0);
        transition: var(--transition);
        background: var(--YAM);
    }
    &::after {
        top: 0;
        left: 0;
        content: '';
        z-index: -1;
        width: 100%;
        height: 100%;
        position: absolute;
        transition: var(--transition);
        border: 1px solid var(--YAM);
        opacity: 0.6;
    }
    &:hover {
        color: var(--PEBBLE);
        
        &::before {
            transform: scaleX(1);
        }
        &::after {
            border-color: var(--YAM);
            opacity: 0.8 !important;
        }
    }
}
.overley{
  background-color: rgba(0,0,0,0.7);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}